
  footer {
    position: fixed;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    font-family: "Palatino";
    color: #333;
    text-align: right;
  }

  #map {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: white;
  }

  .text {
    display: inline-block;
    vertical-align: middle; /* or top or bottom */
  }

  #footerimg {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
